#parent {
  width: 400px;
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mouseover {
  width: 200px;
  height: 100px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#parent2 {
  width: 400px;
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mouseover2 {
  width: 200px;
  height: 100px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#target {
  width: 200px;
  height: 100px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
